body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}
header {
  background: #111;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin: 0;
  font-size: 28px;
}
header nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}
.hero {
  padding: 80px 40px;
  background: #222;
  color: #fff;
  text-align: center;
}
.hero h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  background: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
section {
  padding: 60px 40px;
}
h3 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.about-text,
.contact-text {
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-size: 17px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.project-box {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.project-box h4 {
  margin-bottom: 10px;
}
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.hero {
    display: flex;
    justify-content: center;   /* Centers content horizontally */
    align-items: center;       /* Centers vertically */
    padding: 50px;
    background-color: #1e1e1e;
}

.hero-content {
    flex: 1;
    text-align: left;
    max-width: 600px;          /* Limits width for good layout */
    margin-right: 50px;        /* Creates space from the picture */
}

.hero-text {
  max-width: 50%;
}


.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.skill-box {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: bold;
}
/* Contact Section */
#contact {
  background: #0b1529;   /* dark navy */
  padding: 80px 40px;
  color: white;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.contact-form button {
  padding: 17px;
  width:630px;
  background: #007bff;       /* bright blue */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #0063cc;
}
.profile-img {
    width: 320px;
    height: 330px;
    object-fit: cover;
    border-radius: 50%;     /* makes oval */
    border: 4px solid #ffffff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    margin-left: 50px;
}


